* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}
header nav ul {
  list-style-type: none;
}
header nav a {
  color: black;
}

a{
   text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/*header*/

header{
  background-color: white;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
header nav ul{
  display: flex;
  gap: 1.5rem;
}

/*Banner servizi*/

.services-banner{
  background-color: #0282f9;
  padding: 3rem 0;
}

.services-banner ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.services-banner li{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.services-banner span{
  color: white;
}
.services-banner img{
  height: 50px;
}