* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}
header nav ul {
  list-style-type: none;
}
header nav a {
  color: black;
}
ul{
  list-style-type: none;
}
a{
   text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/*header*/

header{
  background-color: white;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
header nav ul{
  display: flex;
  gap: 1.5rem;
}

/*Banner servizi*/

.services-banner{
  background-color: #0282f9;
  padding: 3rem 0;
}

.services-banner ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.services-banner li{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.services-banner span{
  color: white;
}
.services-banner img{
  height: 50px;
}

.jumbotron{
  background-image: url(./assets/img/jumbotron.jpg);
  height: 350px;
  background-size: cover;
  background-position: top center;
}

/*footer*/

.footer-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;}

.footer-logo-bg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-20%);
}

.footer-top {
  background-image: url('./assets/img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;
  position: relative; 
  overflow: hidden;

}

.footer-top .link-columns {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;

}

.footer-top h3 {
  color: white;
}

.footer-top a {
  color: #797979;
  font-size: 0.8rem;
}

.footer-top li {
  line-height: 1.6;
}

/*footer-bottom*/

.footer-bottom {
  background-color: #303030;
  padding: 2rem 0;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sezione social */
.social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}

.social-links h3 {
  color: #0282f9; 
}

.social-links ul {
  display: flex;
  gap: 1rem; 
}

/*cards*/
.content-section{
  background-color: #1c1c1c;
  position: relative;
}
.series-label{
  background-color: #0282f9;
  color: white;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.comics-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1.5rem;
  padding: 2rem 0;
}

.comic-card {
  /* 100% diviso 6 colonne, meno la proporzione del gap */
   width: calc(100% / 6 - 1.5rem); 
}

.comic-card .card-image img{
  width: 100%;
  height: 180px;
  object-position: top;
  object-fit: cover;

}

.comic-card h4 {
  color: white;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 0.7rem;
}

/*buttons*/

.button-container{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.load-more-btn{
  background-color: #0282f9;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 2rem;

}

.signup-button{
 background-color: #303030;
 color: white;
 text-transform: uppercase;
 font-weight: bold;
 cursor: pointer;
 padding: 0.7rem 1.2rem;
 border: 2px solid #0282f9;
;}